@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>

<div>
    <center><img src="~/images/logo.png" width="300" height="300" class="img-responsive" alt="Generic placeholder thumbnail" style="padding-bottom:30px"></center>
</div>

<div class="about_content jumbotron">
    <p>With our understanding and insights on each market, as well our passion for technology, we provide jobseekers the best opportunities and deliver exceptional value to employers.</p>
    <p>Mainly focusing in Agricultural Industry, we leverage world-class products to match talented job seekers with reputable employers across the region.</p>
    <p>We are committed to continuously improving the value we provide to jobseekers and employers. To deliver on this, we continue to evolve our product and service offerings to better facilitate the matching of jobseekers to employers.</p>
</div>

<hr />

<div class="row placeholders">
    <h3>Leadership</h3>
    <div class="col-md-4" placeholder">
        <center>
            <img src="~/images/m1.png" width="300" height="300" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4 style="text-align:center">Business Manager</h4>
            <span class="text-muted" style="text-align:center">Putra Baihaqi</span>
        </center>
    </div>
    <div class="col-md-4" placeholder">
        <center>
            <img src="~/images/m2.png" width="300" height="300" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4 style="text-align:center">Marketing Manager</h4>
            <span class="text-muted" style="text-align:center">Nuraida Irdina</span>
        </center>
    </div>
    <div class="col-md-4" placeholder">
        <center>
            <img src="~/images/m3.png" width="300" height="300" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>IT Manager</h4>
            <span class="text-muted">Raja Nurul Nasuha</span>
        </center>
    </div>
</div>
<hr />

<div>
    <footer class="footer_part black">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="single_footer_part" style="text-align:center; padding-bottom:30px;">
                            <a href="index.cshtml" class="footer_logo_iner"> <img src="~/images/logo.png" alt="#"> </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single_footer_part" style="text-align:center; padding-bottom:30px;">
                            <h4 style="font-weight:bold">Contact Info</h4>
                            <p>Address : Jalan Teknologi 5, Taman Teknologi Malaysia, 57000 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur.</p>
                            <p>Phone : 03-8996 1000</p>
                            <p>Email : EKebun@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single_footer_part" style="text-align:center; padding-bottom:30px;">
                            <h4 style="font-weight:bold">Important Link</h4>
                            <ul class="list-unstyled">
                                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="About">About Us</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                                <li><a asp-area="" asp-controller="#" asp-action="Register">New Registration</a></li>
                                <li><a asp-area="" asp-controller="#" asp-action="Login">User Login</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div> 